  .Contenedor_P{
    grid-gap: 20px;
    display: grid;
    grid-template-areas: 
    "objeto-1 objeto-1 objeto-2 objeto-3"
    "objeto-4 objeto-5 objeto-6 objeto-7";
    margin: 3%;
}
#Objet_1{
    grid-area:objeto-1;
}
#Objet_2{
    grid-area:objeto-2;
}
#Objet_3{
    grid-area:objeto-3;
}
#Objet_4{
    grid-area:objeto-4;
}
#Objet_5{
    grid-area:objeto-5;
}
#Objet_6{
    grid-area:objeto-6;
}
#Objet_7{
    grid-area:objeto-7;
}
.Card{
    background-color: peachpuff;
    box-shadow: 0px 1px 8px 0px black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.Texto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.6em;
}
img{ 
    width: 100%;
    height: 100%;
}
